#container {
  display: inline-flex;

}


#formHeader{
  margin-top: 50px;
  text-align: center;
}

#bookForm{
  width: 175px;
  height: 750px;
  border: 10px solid black;
  background-color: coral;
}

#bookInput{
  margin-top: 75px;

}
#bookList {
  margin: auto;
  border: 10px solid black;
  display: flex;
  flex-wrap: wrap;
  
  
  height: 750px;
  width: 900px;
  background: grey;
  }




